MODEL_DIR=./models
TEMP_DIR=./data/tmp
OUTPUT_DIR=./data/output
DEFAULT_MODEL=small
DEFAULT_LANGUAGE=en
DEFAULT_INTERVAL=0.04
DEVICE=auto
DEBUG=false
JOB_RETENTION_HOURS=24
# MFA_DICTIONARY_PATH=/path/to/english_us_arpa.dict
# MFA_ACOUSTIC_MODEL_PATH=/path/to/english_us_arpa.zip
# On Windows, point this at the Miniforge/Conda launcher used to install MFA:
# MFA_CONDA_EXECUTABLE=C:/Users/USER/miniforge3/condabin/conda.bat
# MFA_CONDA_ENVIRONMENT=viseme-mfa
# Persian needs locally installed MFA-compatible Persian assets:
# FA_MFA_DICTIONARY_PATH=/path/to/persian.dict
# FA_MFA_ACOUSTIC_MODEL_PATH=/path/to/persian_acoustic_model.zip
